.window {
    border-top: 3px solid #DBDBDB;
    border-left: 3px solid #DBDBDB;
    border-right: 3px solid #636363;
    border-bottom: 3px solid #636363;
    background-color: #C0C0C0;
}

.mainbox {
    width: 66vw;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 17vw;
    z-index: 1;
    background-color: #F7E0FF;
}

.topbar {
    width: 100%;
    height: 26px;
    margin-top: -3px;
    margin-left: -3px;
    position:relative;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 5;
}

.windowTitle {
    height: 80%;
    position: absolute;
    left: 0.5%;
    top: 10%;
}

.windowButton {
    margin-right: 4px;
    margin-left: -2px;
    height: 80%;
    top: 10%;
}

.windowContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.windowContent {
    flex: 1;
    height: calc(100% - 32px);;
    margin-inline: 0;
    padding-top: -28px;
    display: flex;
    flex-direction: column;
}

.row {
    display: table-row;
}

.country-data {
    font-size: 12pt;
}

.country-map {
    height: 22vh;
}

.header {
    display: table-caption;
    text-align: center;
    font-family: cursive;
    color: purple;
    font-size: 20pt;
}

.cell {
    display: table-cell;
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;
}

.leftMenu {
    height: 100%;
    margin-top: -28px;
    margin-inline: 0;
    width: 20%;
    border-right: 2px solid #A737FF;
    background-color: #C171FF;
    vertical-align: middle;
    display: table;
    overflow: hidden;
}

.button {
    width: 100%;
}

.rightMenu {
    height: 100%;
    margin-top: -28px;
    margin-inline: 0;
    width: 20%;
    border-left: 2px solid #50CE0C;
    background-color: #8DFF53;
    vertical-align: middle;
}

.titleCard {
    padding-top: 1vh;
    width: 100%;
    background-color: white;
    text-align: center;
}

.stingPop {
    height: 12vh;
}

.announcementBox {
    width: 100%;
    height: 3vh;
    background-color: #262626;
    border-top: 3px solid #191919;
    border-bottom: 3px solid #191919;
}

.announcement {
    height: 100%;
    color: #C6AD1B;
    font-size: 2vh;
    font-family: 'Silkscreen', sans-serif;
    font-weight: bold;
}

.sectionTitleBox {
    background-color: #DF87FF;
    height: 6vh;
    margin: 2vh auto auto;
    padding-top: 1vh;
    flex: 1;
    width: 75%;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 2vh;
}

.sectionBox {
    margin: 2vh auto auto;
    flex: 1;
    width: 75%;
    text-align: left;
}

.textSectionBox {
    background-color: white;
    border-radius: 25px;
}

.sectionTitle {
    font-family: "Segoe Print", sans-serif;
    font-size: 4vh;
    color: white;
}

.sectionText {
    padding: 3vh;
}

.contentFeed {
    overflow-y: auto;
    flex: 1;
    margin-bottom: -3px;
    scrollbar-color: #DF87FF #F7E0FF;
    scrollbar-width: thin;
}